.container {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: transparent;
  color: black;
  max-height: 60px;
  display: flex;
  align-items: center;
  background-color: white;
  // position: absolute;
  z-index: 9;
  .wrapper {
    width: 100%;
    display: flex;
    padding: var(--main-margin) 0;
    justify-content: space-between;
    align-items: center;

    .list {
      display: flex;
      list-style: none;
      margin: 0;
      align-items: center;

      .list_item {
        padding: 0 var(--main-margin);
        font-size: var(--title-font-size);

        height: 100%;
        display: flex;
        flex-direction: column;
        text-align: right;
        .contact_tel {
          font-size: 80%;
          opacity: 0.6;
        }
        &:first-child {
          border: none;
        }
      }
    }
  }
}

@media (max-width: 850px) {
  .container {
    width: 100%;
    background-color: transparent;
    color: white;
    max-height: 100px;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 9;
    .wrapper {
      width: 100%;
      display: flex;
      padding: var(--main-margin) 0;
      justify-content: space-between;
      align-items: center;

      .list {
        display: flex;
        list-style: none;
        margin: 0;
        align-items: center;

        .list_item {
          border: none;
          padding: 0;
          display: none;
          .contact_tel {
            font-size: 80%;
            opacity: 0.6;
          }
          &:last-child {
            display: block;
          }
          &:first-child {
            border: none;
            display: none;
          }
        }
      }
    }
  }
}
