.container {
  width: 70px;
  height: 70px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease-in-out all;
  cursor: pointer;
  svg {
    transition: 0.4s ease-in-out all;
    animation-name: phone;
    animation-iteration-count: infinite;
    animation-duration: 2s;

    font-size: 32px !important;
  }
  &:hover {
    transform: scale(1.1);
    background-color: var(--button-color);
    svg {
      fill: var(--primary-color) !important;
    }
  }
  &::after {
    content: '';
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    // top: 0;
    // left: 0;
    // right: 0;
    // bottom: 0;
    background-color: var(--primary-color);
    z-index: -2;

    transition: 0.4s ease-in-out all;
    animation-name: shadow;
    animation-iteration-count: infinite;
    animation-duration: 1s;
  }
}

@keyframes phone {
  0% {
    transform: rotate(0deg) scale(1.03);
  }
  10% {
    transform: rotate(10deg) scale(1.05);
  }
  15% {
    transform: rotate(15deg) scale(1.07);
  }
  20% {
    transform: rotate(20deg) scale(1.09);
  }
  25% {
    transform: rotate(25deg) scale(1.11);
  }
  30% {
    transform: rotate(20deg) scale(1.11);
  }
  35% {
    transform: rotate(15deg) scale(1.09);
  }
  40% {
    transform: rotate(10deg) scale(1.07);
  }
  45% {
    transform: rotate(5deg) scale(1.05);
  }
  50% {
    transform: rotate(0deg) scale(1.03);
  }
  55% {
    transform: rotate(-5deg) scale(1.03);
  }
  60% {
    transform: rotate(-10deg) scale(1.05);
  }
  65% {
    transform: rotate(-15deg) scale(1.07);
  }
  70% {
    transform: rotate(-20deg) scale(1.09);
  }
  75% {
    transform: rotate(-25deg) scale(1.11);
  }
  80% {
    transform: rotate(-20deg) scale(1.11);
  }
  85% {
    transform: rotate(-15deg) scale(1.09);
  }
  95% {
    transform: rotate(-10deg) scale(1.07);
  }
  100% {
    transform: rotate(-5deg) scale(1.05);
  }
}

@keyframes shadow {
  5% {
    width: 71px;
    height: 71px;
    opacity: 0.95;
  }
  10% {
    width: 72px;
    height: 72px;
    opacity: 0.9;
  }
  15% {
    width: 73px;
    height: 73px;
    opacity: 0.85;
  }
  20% {
    width: 74px;
    height: 74px;
    opacity: 0.8;
  }
  25% {
    width: 75px;
    height: 75px;
    opacity: 0.75;
  }
  30% {
    width: 76px;
    height: 76px;
    opacity: 0.7;
  }
  35% {
    width: 77px;
    height: 77px;
    opacity: 0.65;
  }
  40% {
    width: 78px;
    height: 78px;
    opacity: 0.6;
  }
  45% {
    width: 79px;
    height: 79px;
    opacity: 0.55;
  }
  50% {
    width: 80px;
    height: 80px;
    opacity: 0.5;
  }
  55% {
    width: 81px;
    height: 81px;
    opacity: 0.45;
  }
  60% {
    width: 82px;
    height: 82px;
    opacity: 0.4;
  }
  65% {
    width: 83px;
    height: 83px;
    opacity: 0.35;
  }
  70% {
    width: 84px;
    height: 84px;
    opacity: 0.3;
  }
  75% {
    width: 85px;
    height: 85px;
    opacity: 0.25;
  }
  80% {
    width: 86px;
    height: 86px;
    opacity: 0.2;
  }
  85% {
    width: 87px;
    height: 87px;
    opacity: 0.15;
  }
  90% {
    width: 88px;
    height: 88px;
    opacity: 0.1;
  }
  95% {
    width: 89px;
    height: 89px;
    opacity: 0.05;
  }
  100% {
    width: 90px;
    height: 90px;
    opacity: 0;
  }
}
