.container {
  width: 100%;
  height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('/images/desrt.jpg');
  background-position: center;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
  }
  .wrapper {
    position: relative;
    z-index: 2;
    .title {
      width: 80%;
      font-size: calc(var(--hero-font-size) * 2);
      line-height: calc(var(--hero-line-height) * 1.3);
      margin-top: 180px;
      color: white;
    }
    .about {
      margin-top: calc(var(--main-margin) * 2);
      color: white;
      font-size: var(--title-font-size);
    }
    .form {
      width: 100%;
      padding: 5px 0;
      margin-top: 440px;

      flex-wrap: wrap;
      border-radius: var(--big-radius);
      // background-color: var(--primary-color);
      background-color: rgba(255, 255, 255, 0.726);
      box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: row;
      position: relative;

      .options {
        position: absolute;
        bottom: 100%;
        left: 5px;
        display: flex;
        width: 50%;
        justify-content: space-between;
        // background-color: var(--button-color);
        background-color: #dd541eba;
        border-radius: var(--small-radius);
        padding: 3px;
        .option {
          width: 100%;
          padding: 10px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          font-size: var(--title-font-size);
          line-height: var(--title-line-height);
          color: white;
          // color: var(--primary-color);
          border-radius: var(--small-radius);
          cursor: pointer;
          transition: linear all 0.4s;
        }
      }
      .inputs {
        min-width: 100%;
        .form_group {
          display: flex;
          margin: 5px 5px;
          position: relative;
          .action_button {
            position: absolute;
            left: -35px;
            top: 10px;
            cursor: pointer;
            svg {
              font-size: 30px;
            }
          }
          .action_button_plus {
            svg {
              color: green;
            }
          }
          .action_button_minus {
            svg {
              color: red;
            }
          }
          .car_option {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            padding: 5px 15px;
            margin: 0 5px;
            font-size: var(--title-font-size);
            line-height: var(--title-line-height);
            color: white;
            border-radius: var(--small-radius);
            cursor: pointer;
            transition: 0.4s linear all;
            justify-content: center;
          }
          .car_option_active {
            background-color: rgba(0, 0, 0, 0.3);
          }
        }
      }
      .actions {
        // min-width: 20%;
        padding: 5px 10px;
        color: var(--primary-color);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        p {
          font-size: var(--title-font-size);
          line-height: var(--title-line-height);
        }
        h1 {
          font-size: var(--head-font-size);
          line-height: var(--head-line-height);
        }
      }
    }
  }
}
.form_select {
  max-width: 45%;
}
.select_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 5px;
  border-radius: var(--small-radius);
  cursor: pointer;
  position: relative;
  .selected_item {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    transition: 0.4s ease-in-out;
    border-radius: var(--small-radius);
    justify-content: space-between;
    svg {
      color: black;
      transition: 0.4s ease-in-out;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.3);
      color: white;
      svg {
        color: white;
      }
    }
  }
  .select_list {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    z-index: 9999;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    margin: 0;
    list-style: none;
    padding: 0;
    width: 100%;
    border-radius: var(--small-radius);
    .select_item {
      padding: 10px;
      transition: 0.4s ease-in-out;
      width: 100%;
      display: flex;
      align-items: center;
      span {
        width: 25px;
        // margin-right: 10px;
      }
      svg {
        font-size: 20px;
        color: black;
      }
      &:hover {
        background-color: rgba(0, 0, 0, 0.3);
        color: white;
        svg {
          color: white;
        }
      }
    }
  }
}

.active_option {
  // background-color: var(--button-active-color) !important;
  background-color: rgba(0, 140, 255, 0.7) !important;
}

.label {
  border-radius: var(--small-radius);
  background-color: rgba(0, 140, 255, 0.7);
  margin: 0 5px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  max-width: 24%;
  svg {
    color: white;
  }
  .input::placeholder {
    color: white;
  }
  .input {
    width: 100%;
    background-color: transparent;
    color: white;
    outline: none;
    border: none;
    font-size: var(--text-font-size);
    line-height: var(--text-line-height);
    font-family: 'Helvetica', sans-serif;
  }

  .region_list {
    position: absolute;
    top: 110%;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.856);
    z-index: 999;
    border-radius: var(--small-radius);
    max-height: 200px;
    overflow-y: scroll;
    cursor: pointer;
    .region_item {
      padding: 7px 15px;
      &:hover {
        color: var(--button-color);
      }
    }
  }
}

.button {
  background-color: transparent !important;
  padding: 0 !important;
  min-width: 24.2%;
  button {
    padding: 0 !important;
    height: 100%;
    text-transform: capitalize;
  }
}

@media (max-width: 850px) {
  .container {
    .wrapper {
      position: relative;
      z-index: 2;
      .title {
        width: 80%;
        font-size: calc(var(--hero-font-size));
        line-height: calc(var(--hero-line-height));
        margin-top: 100px;
        color: white;
      }
      .about {
        margin-top: calc(var(--main-margin) * 2);
        color: white;
        font-size: var(--title-font-size);
      }
      .form {
        margin-top: 90px;

        .options {
          position: absolute;
          bottom: 100%;
          left: 5px;
          display: flex;
          width: 96%;
          justify-content: space-between;
          background-color: var(--button-color);
          border-radius: var(--small-radius);
          padding: 3px;
          .option {
            width: 49%;
            padding: 10px 0;
          }
        }
        .inputs {
          min-width: 80%;
          display: flex;
          flex-direction: column !important;
          flex-wrap: wrap;
          .form_group {
            flex-wrap: wrap !important;
            &:last-child {
              margin: 10px 5px;
            }
            .action_button {
              position: absolute;
              right: -17px;
              left: auto;
              top: 10px;
              cursor: pointer;
              svg {
                font-size: 30px;
              }
            }
            .action_button_plus {
              svg {
                color: green;
              }
            }
            .action_button_minus {
              svg {
                color: red;
              }
            }
            .car_option {
              height: 35%;
              font-size: var(--text-font-size);
              line-height: var(--text-line-height);
            }
            .car_option_active {
              background-color: rgba(0, 0, 0, 0.3);
            }
          }
        }
        .actions {
          min-width: 100%;
          padding: 5px 10px;
          color: white;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          p {
            font-size: var(--title-font-size);
            line-height: var(--title-line-height);
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
          h1 {
            font-size: var(--head-font-size);
            line-height: var(--head-line-height);
          }
        }
      }
    }
  }

  .active_option {
    background-color: var(--button-active-color) !important;
  }

  .label {
    margin: 3px;
    padding: 10px 15px;
    min-width: 48%;
    max-width: 48%;

    svg {
      color: white;
    }
    .input::placeholder {
      color: white;
    }
    .input {
      // padding: 10px 15px;
      width: 90%;
    }
    input[type='date'] {
      width: 100%;
    }
  }
  .date {
    min-width: 100% !important;
    max-width: 98% !important;
  }
}
.date {
  margin: 3px;
  padding: 0;
  min-width: 48%;
  max-width: 48%;
  svg {
    color: white;
  }
  .input::placeholder {
    color: white;
  }
  .input {
    // padding: 10px 15px;
    width: 90%;
  }
  input[type='date'] {
    width: 100%;
  }
}
