.wrapper {
  padding: 60px 0;
  margin: 20px 0;
  background-color: var(--bg-color);
  .block {
    h1 {
      margin-bottom: 40px;
    }
    .card {
      height: 100%;
      cursor: pointer;
      // background-color: #d9d9d9;
      padding: 30px;
      &:hover {
        border-radius: 8px;
        background-color: #d9d9d9;
      }
      .card_icon {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          font-size: 125px;
          color: var(--button-color);
        }
        img {
          width: 100px;
          height: 100px;
          object-fit: cover;
        }
      }
      .card_body {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        h6 {
          color: var(--text-color);
          font-weight: 600;
          font-size: 20px;
          line-height: 32px;
          margin: 0;
          margin-top: 15px;
          text-align: center;
          height: 64px;
        }
        p {
          font-size: 14px;
          line-height: 22px;
          margin: 0;
          margin-top: 6px;
          color: #818181be;
        }
      }
    }
  }
}
.content {
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.07em;
  opacity: 0.6;
}

@media (max-width: 850px) {
  .wrapper {
    margin-top: 80px;
    .block {
      h1 {
        margin-bottom: 20px;
      }
      .card {
        height: 100%;
        cursor: pointer;
        // background-color: #d9d9d9;
        padding: 10px;
        &:hover {
          border-radius: 8px;
          background-color: #d9d9d9;
        }
        .card_icon {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          svg {
            font-size: 125px;
            color: var(--button-color);
          }
          img {
            width: 100px;
            height: 100px;
            object-fit: cover;
          }
        }
        .card_body {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          h6 {
            color: var(--text-color);
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            margin: 0;
            margin-top: 15px;
            text-align: center;
            height: auto;
          }
          p {
            font-size: 14px;
            line-height: 22px;
            margin: 0;
            margin-top: 6px;
            color: #818181;
          }
        }
      }
    }
  }
}
