.container {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 99999;
  svg {
    font-size: 10rem;

    color: green;
  }
  h2 {
    margin: 15px 0;
    color: var(--primary-color);
  }
  .close {
    position: absolute;
    top: 20px;
    right: 20px;
    svg {
      font-size: 3rem;
      color: red;
      cursor: pointer;
    }
  }
}
