// 333333
// 575757
.container {
  width: 100%;
  min-height: 20vh;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #333333;
  color: #575757;
  h1,
  p,
  a {
    margin: 5px 0;
  }
}

@media (max-width: 850px) {
  // 333333
  // 575757
  .container {
    min-height: 30vh;
    h1 {
      font-size: var(--title-font-size);
    }
    p {
      font-size: var(--text-font-size);
    }
  }
}
