.container {
  margin: 0;
  background-color: var(--bg-color);
  padding-top: 260px;
}
.card {
  width: 100%;
  padding: 20px;
  transition: 0.4s ease all;
  border-radius: 12px;
  position: relative;
  cursor: pointer;
  .header {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    img {
      object-fit: contain;
      transition: 0.4s ease-out all;
      width: 90%;
      max-height: 150px;
    }
  }
  .body {
    width: 100%;
    display: flex;
    flex-direction: column;
    .titles {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 0;
      .name {
        max-width: 70%;
      }
      .brand {
        img {
          width: 80px;
          object-fit: contain;
        }
      }
    }
    .details {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      .detail {
        width: 49%;
        padding: 5px 0;
        display: flex;
        align-items: center;
        span {
          margin: 0 10px;
        }
      }
    }
  }
  &:hover {
    box-shadow: 0 0 3px 0.2px var(--primary-color);
    .header {
      img {
        transform: translateY(-10px) scale(1.1);
      }
    }
  }
  .info {
    position: absolute;
    border-radius: 12px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.4s ease-in-out all;
    display: flex;
    padding: 15px;
    background-color: rgba(36, 114, 187, 0.8);
    color: white;
    font-size: var(--text-font-size);
    letter-spacing: 0.08rem;
    opacity: 0;
  }
  &:hover {
    .info {
      opacity: 1;
    }
  }
}

@media (max-width: 850px) {
  .container {
    // margin: 220px 0 0 0;
    padding-top: 60px;
  }
  .card {
    width: 100%;
    padding: 10px;
    .header {
      width: 100%;
      display: flex;
      justify-content: center;
      overflow: hidden;
      img {
        object-fit: contain;
        transition: 0.4s ease-out all;
        width: 90%;
      }
    }
    .body {
      width: 100%;
      display: flex;
      flex-direction: column;
      .titles {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0;
        .name {
          max-width: 70%;
        }
        .brand {
          img {
            width: 80px;
            object-fit: contain;
          }
        }
      }
      .details {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        .detail {
          width: 49%;
          padding: 5px 0;
          display: flex;
          align-items: center;
          span {
            margin: 0 10px;
          }
        }
      }
    }
    &:hover {
      box-shadow: 0 0 3px 0.2px var(--primary-color);
      .header {
        img {
          transform: translateY(-10px) scale(1.1);
        }
      }
    }
  }
}
