:root {
  /* main color template */
  --primary-color: rgb(36, 114, 187);
  --secondary-color: rgb(13 48 121);
  --dark-color: #0f1826;
  --text-color: #343a40;
  --info-color: #818181;
  --bg-color: rgb(221, 235, 248);
  --button-color: #dd541e;
  --button-active-color: #ab3e14;

  /* font size template */
  --hero-font-size: 48px;
  --head-font-size: 40px;
  --pre_title-font-size: 12px;
  --title-font-size: 20px;
  --about-font-size: 14px;
  --text-font-size: 16px;
  --info-font-size: 10px;

  /* line height template */
  --hero-line-height: 60px;
  --head-line-height: 50px;
  --pre_title-line-height: 12px;
  --title-line-height: 25px;
  --about-font-size: 21px;
  --text-line-height: 27px;
  --info-line-height: 15px;

  /* margin & padding template */
  --main-margin: 1rem;
  --container-padding: 7rem;
  --card-padding: 40px;

  /* border radius template */
  --big-radius: 8px;
  --small-radius: 4px;
}
::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Helvetica', sans-serif !important;
  scroll-behavior: smooth !important;
  transition: 0.4s ease-out all;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
  padding: 0;
}

.title {
  text-align: center;
  font-size: 32px;
  line-height: 40px;
  color: #343a40;
}

.dialog-date-picker {
  width: 100% !important;
}

.date-picker-input {
  border-radius: var(--small-radius);
  display: flex;
  align-items: center;
}
.date-picker {
  background-color: rgba(0, 140, 255, 0.7) !important;
}

.react-google-flight-datepicker .date-picker-input {
  height: 46px !important;
}

.react-google-flight-datepicker .date-picker {
  background-color: transparent;
  padding: 0 !important
  ;
}

.react-google-flight-datepicker .date-picker-input {
  border: 1px solid rgba(0, 140, 255, 0);
  background-color: rgba(0, 140, 255, 0) !important;
}
.react-google-flight-datepicker .open .date-picker-input {
  border: 1px solid rgba(0, 140, 255, 0.7);
  background-color: rgba(0, 140, 255, 0.7) !important;
}
.react-google-flight-datepicker .date:focus,
.react-google-flight-datepicker .date.is-focus,
.react-google-flight-datepicker .date {
  background-color: rgba(0, 140, 255, 0) !important;
  border-color: rgba(0, 140, 255, 0) !important;
  border: none;
  outline: none;
}
.react-google-flight-datepicker .date-placeholder {
  color: white !important;
}
.react-google-flight-datepicker .icon-calendar {
  fill: white !important;
}
.react-google-flight-datepicker .date {
  color: white;
}

.react-google-flight-datepicker .date:focus::after,
.react-google-flight-datepicker .date.is-focus::after {
  border-color: transparent !important;
}
@media (max-width: 768px) {
  .react-google-flight-datepicker .date {
    border: none !important;
  }
}
